.grid { margin: 0px auto; overflow: auto; width: 720px; }

.grid-1-1,
.grid-1-2, .grid-2-2,
.grid-1-3, .grid-2-3, .grid-3-3,
.grid-1-4, .grid-2-4, .grid-3-4, .grid-4-4,
.grid-1-5, .grid-2-5, .grid-3-5, .grid-4-5, .grid-5-5,
.grid-1-6, .grid-2-6, .grid-3-6, .grid-4-6, .grid-5-6, .grid-6-6,
.grid-1-8, .grid-2-8, .grid-3-8, .grid-4-8, .grid-5-8, .grid-6-8, .grid-7-8, .grid-8-8,
.grid-1-10, .grid-2-10, .grid-3-10, .grid-4-10, .grid-5-10, .grid-6-10, .grid-7-10, .grid-8-10, .grid-9-10, .grid-10-10,
.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12
{ float: left; margin: 0 10px; overflow: auto; }

.grid-1-1, .grid-2-2, .grid-3-3, .grid-4-4, .grid-5-5, .grid-6-6, .grid-8-8, .grid-10-10, .grid-12-12  { width: 700px; }
.grid-1-2, .grid-2-4, .grid-3-6, .grid-4-8, .grid-5-10, .grid-6-12  { width: 340px; }
.grid-1-3, .grid-2-6, .grid-4-12 { width: 220px; }
.grid-2-3, .grid-4-6, .grid-8-12 { width: 460px; }
.grid-1-4, .grid-2-8, .grid-3-12 { width: 160px; }
.grid-3-4, .grid-6-8, .grid-9-12 { width: 520px; }
.grid-1-5, .grid-2-10 { width: 124px; }
.grid-2-5, .grid-4-10 { width: 268px; }
.grid-3-5, .grid-6-10 { width: 412px; }
.grid-4-5, .grid-8-10 { width: 556px; }
.grid-1-6, .grid-2-12 { width: 100px; }
.grid-5-6, .grid-10-12 { width: 580px; }
.grid-1-8 { width: 70px; }
.grid-3-8 { width: 250px; }
.grid-5-8 { width: 430px; }
.grid-7-8 { width: 610px; }
.grid-1-10 { width: 52px; }
.grid-3-10 { width: 196px; }
.grid-7-10 { width: 484px; }
.grid-9-10 { width: 628px; }
.grid-1-12 { width: 40px; }
.grid-5-12 { width: 280px; }
.grid-7-12 { width: 400px; }
.grid-11-12 { width: 640px; }

.grid-1-1-nomargin,
.grid-1-2-nomargin, .grid-2-2-nomargin,
.grid-1-3-nomargin, .grid-2-3-nomargin, .grid-3-3-nomargin,
.grid-1-4-nomargin, .grid-2-4-nomargin, .grid-3-4-nomargin, .grid-4-4-nomargin,
.grid-1-5-nomargin, .grid-2-5-nomargin, .grid-3-5-nomargin, .grid-4-5-nomargin, .grid-5-5-nomargin,
.grid-1-6-nomargin, .grid-2-6-nomargin, .grid-3-6-nomargin, .grid-4-6-nomargin, .grid-5-6-nomargin, .grid-6-6-nomargin,
.grid-1-8-nomargin, .grid-2-8-nomargin, .grid-3-8-nomargin, .grid-4-8-nomargin, .grid-5-8-nomargin, .grid-6-8-nomargin, .grid-7-8-nomargin, .grid-8-8-nomargin,
.grid-1-10-nomargin, .grid-2-10-nomargin, .grid-3-10-nomargin, .grid-4-10-nomargin, .grid-5-10-nomargin, .grid-6-10-nomargin, .grid-7-10-nomargin, .grid-8-10-nomargin, .grid-9-10-nomargin, .grid-10-10-nomargin,
.grid-1-12-nomargin, .grid-2-12-nomargin, .grid-3-12-nomargin, .grid-4-12-nomargin, .grid-5-12-nomargin, .grid-6-12-nomargin, .grid-7-12-nomargin, .grid-8-12-nomargin, .grid-9-12-nomargin, .grid-10-12-nomargin, .grid-11-12-nomargin, .grid-12-12
{ float: left; margin: 0; overflow: auto; }

.grid-1-1-nomargin, .grid-2-2-nomargin, .grid-3-3-nomargin, .grid-4-4-nomargin, .grid-5-5-nomargin, .grid-6-6-nomargin, .grid-8-8-nomargin, .grid-10-10-nomargin, .grid-12-12-nomargin  { width: 720px; }
.grid-1-2-nomargin, .grid-2-4-nomargin, .grid-3-6-nomargin, .grid-4-8-nomargin, .grid-5-10-nomargin, .grid-6-12-nomargin  { width: 360px; }
.grid-1-3-nomargin, .grid-2-6-nomargin, .grid-4-12-nomargin { width: 240px; }
.grid-2-3-nomargin, .grid-4-6-nomargin, .grid-8-12-nomargin { width: 480px; }
.grid-1-4-nomargin, .grid-2-8-nomargin, .grid-3-12-nomargin { width: 180px; }
.grid-3-4-nomargin, .grid-6-8-nomargin, .grid-9-12-nomargin { width: 540px; }
.grid-1-5-nomargin, .grid-2-10-nomargin { width: 144px; }
.grid-2-5-nomargin, .grid-4-10-nomargin { width: 288px; }
.grid-3-5-nomargin, .grid-6-10-nomargin { width: 432px; }
.grid-4-5-nomargin, .grid-8-10-nomargin { width: 576px; }
.grid-1-6-nomargin, .grid-2-12-nomargin { width: 120px; }
.grid-5-6-nomargin, .grid-10-12-nomargin { width: 600px; }
.grid-1-8-nomargin { width: 90px; }
.grid-3-8-nomargin { width: 270px; }
.grid-5-8-nomargin { width: 450px; }
.grid-7-8-nomargin { width: 630px; }
.grid-1-10-nomargin { width: 72px; }
.grid-3-10-nomargin { width: 216px; }
.grid-7-10-nomargin { width: 504px; }
.grid-9-10-nomargin { width: 648px; }
.grid-1-12-nomargin { width: 60px; }
.grid-5-12-nomargin { width: 300px; }
.grid-7-12-nomargin { width: 420px; }
.grid-11-12-nomargin { width: 660px; }


